[submodule "effects/effects"]
	path = effects/effects
	url = git://github.com/goldfirere/effects.git
[submodule "dependent-db"]
	path = dependent-db
	url = git://github.com/goldfirere/dependent-db.git
